    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }

    .card {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 8px 8px 0px hsl(0, 0%, 7%);
    border: 1px solid hsl(0, 0%, 7%);
    }

    .thumb {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    }

    .tag {
    background-color: hsl(47, 88%, 63%);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 0.8rem;
    }

    .date {
    font-size: 0.8rem;
    color: hsl(0, 0%, 20%);
    margin: 10px 0;
    }

    .title {
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 10px;
    }

    .title-link {
    text-decoration: none;
    color: hsl(0, 0%, 7%);
    }

    .title-link:hover {
    color: hsl(47, 88%, 63%);
    }

    .desc {
    font-size: 0.9rem;
    color: hsl(0, 0%, 42%);
    line-height: 1.5;
    margin-bottom: 20px;
    }

    .author {
    display: flex;
    align-items: center;
    gap: 10px;
    }

    .author img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    }

    .author p {
    font-weight: 800;
    font-size: 0.9rem;
}
